.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover, .site-header a.active {
  color: #fff;
  text-decoration: none;
}

.custom-toggler.navbar-toggler{
  border-color: rgba(255, 255, 255, 0.7);
  
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.front-page{
  background-color: rgba(0, 0, 0, 1);
  /* background-image: url("../img/front-page.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay-text{
  opacity: 0;
}



.overlay-text:hover{
  opacity: 1;
  background-color: rgba(0, 0, 0, .7)
}

.card{
  border: none;
}

.card-img{
  border-radius: 0;
}

.carousel-item img{
  max-height: 80%;
}


.video-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;

}


.video-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 2px solid #000;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 10%;
  height: 17%;
}